<% unless @cats_list.blank? %>
<p>
Best price for your location
- <%= @best_price %>
</p>

<table class=" table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Location</th>
    <th>Image</th>
  </tr>
  </thead>

  <tbody>
  <% @cats_list.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><%= cat.price %></td>
        <td><%= cat.location %></td>
        <td><%= image_tag(cat.image, width: '150px') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <p>
    Sorry, no cats for your location.
  </p>
<% end %>
