<div class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="card ">
      <div class="card-body">
        <% if @cats_list.any? %>
          <h5 class="card-title">
            <%= t('.best_price_label') %> <%= @cats_list.min_by(&:price).price %>
          </h5>

          <table class="table table-striped">
            <thead class="thead-dark bg-gray">
              <tr>
                <th><%= t('.table_header.type') %></th>
                <th><%= t('.table_header.price') %></th>
                <th><%= t('.table_header.location') %></th>
                <th><%= t('.table_header.image') %></th>
              </tr>
            </thead>

            <tbody>
              <% sort_by_price(@cats_list).each do |cat| %>
                <tr class="cat">
                  <td class="breed align-middle"><%= cat.breed %></td>
                  <td class="price align-middle"><%= cat.price %></td>
                  <td class="location align-middle"><%= cat.location %></td>
                  <td class="picture align-middle"><%= picture_for(cat) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <h5 class="card-title"><%= t('.no_cats') %></h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
