%h2.text-center
  - if @cats.empty?
    Sorry, no cats for your location :(
  - if @best_price.present?
    Best price for your location - #{@best_price}

%br

- if @cats.present?
  %table.table.table-striped
    %thead.thead-dark
      %tr
        %th Type
        %th Price
        %th Location
        %th Image
    %tbody
      - @cats.each do |cat|
        %tr
          %td= cat.breed
          %td= cat.price
          %td= cat.location
          %td= image_tag(cat.image_url, width: '150px')


