%p
  = form_tag(cats_path, method: :get, class: 'form-inline', id: 'cats') do
    = select_tag(:name, options_for_select(available_names, params[:name]), {class: 'form-control'})
    = select_tag(:location, options_for_select(available_cities, params[:location]), {class: 'form-control'})
    = submit_tag 'Search', name: nil, class: 'btn btn-primary'
    = link_to 'Reset', cats_path, class: 'btn btn-default'
