<div class="container-fluid">
  <h1>Pussy dealer</h1>
  <%= bootstrap_form_tag url: '/cats', remote: true do |f| %>
    <%= f.select :cat_type, [['Bengal', 'Bengal'], ['Abyssin', 'Abyssin'], ['Persian', 'Persian']], { label: "Choose your favorite cat type:", wrapper: { class: 'col col-md-2' } } %>
    <%= f.select :user_location, [['Lviv', 'Lviv'], ['Kiev', 'Kiev'], ['Odessa', 'Odessa']], { label: "Choose your favorite cat type:", wrapper: { class: 'col col-md-2' } } %>
    <%= f.primary 'Search', class: "btn btn-primary" %>
  <% end %>

  <div class="row">
    <%= render partial: "cats", locals: {cats: @cats} %>
  </div>
</div>
