<!DOCTYPE html>
<html>
  <head>
    <title>Cats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <a class="navbar-brand" href="/" data-turbolinks="false" >
        <%= image_tag('cats/bad_cat.png', width: '20px', height: '20px', alt: 'Pussycats Finder') %>
        Pussycats Finder
      </a>
    </div>
    <%= yield %>
  </body>
</html>
